:root{
  --yellow1: #ffe000;
  --yellow2: #FCE659;
  --yellow3: #fbec82;
}



#navlink{
  display: flex;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#navlink:hover{
  color: var(--yellow1);
}

.event .event-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--yellow1);
  text-align: center;
  stroke: black;
  stroke-miterlimit: calc(1.5 * 1.414);
  filter: drop-shadow(8px 2px 2px black);
  margin-bottom: 0;
}

nav {
    background-color: white !important;
}

footer{
  background-color: var(--yellow1);
  color: white;
  font-family: "AdigianaToybox";
}

