:root{
  --yellow1: #ffe000;
  --yellow2: #FCE659;
  --yellow3: #fbec82;
}



#navlink{
  display: flex;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#navlink:hover{
  color: var(--yellow1);
}

.event .event-title h2 {
  font-size: 90px;
  font-weight: bold;
  color: var(--yellow1);
  text-align: center;
  -webkit-text-stroke: 0.5px black!important;
  filter: drop-shadow(8px 2px 2px black);
  margin-bottom: 0;
}

footer{
  background-color: var(--yellow1);
  color: white;
  font-family: "AdigianaToybox";
}

