:root{
  --yellow1: #ffe000;
  --yellow2: #FCE659;
  --yellow3: #fbec82;
}



#navlink{
  display: flex;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
#navlink:hover{
  color: var(--yellow1);
}


footer{
  background-color: var(--yellow1);
  color: white;
  font-family: "ArialRound";
}