:root{
  --yellow1: #ffe000;
  --yellow2: #FCE659;
  --yellow3: #fbec82;
}

[data-theme='dark'] {
    --background: black;
    --text-primary: white;
    --text-secondary: grey;
    
  }
[data-theme='light'] {
    --background: white;
    --text-primary: black;
    --text-secondary: grey;

    
  }
  

  nav {
    color: var(--text-primary) ;
    background-color: var(--background) !important;
    /* font-size: large; */
    /* font-weight: bold; */
    /* padding: 20px; */
    /* height: calc(100vh - 40px); */
    transition: all .5s;
  }
  /* button {
    color: var(--text-primary);
    background-color: var(--background);
    border: 2px var(--text-primary) solid;
    float: right;
    transition: all .5s;
  } */
  
  
#navlink{
  display: flex;
  color: var(--text-primary);
  text-decoration: none;
  font-weight: bold;
}
#navlink:hover{
  color: var(--yellow1);
}

.event .event-title h2 {
  font-size: 90px;
  font-weight: bold;
  color: var(--yellow1);
  text-align: center;
  -webkit-text-stroke: 0.5px black!important;
  filter: drop-shadow(8px 2px 2px black);
  margin-bottom: 0;
}

/* nav {
    background-color: white !important;
} */

footer{
  background-color: var(--yellow1);
  color: var(--background);
  font-family: "AdigianaToybox";
  
}

.footer{
    margin-top: 1rem;
    padding: 1rem;
    /* background-color: rgb(235, 195, 64); */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
