

.Card{
    margin-bottom: 30px;
    margin-right: 1%;
    margin-left: 1%;
    height: calc(width * 2.5);
    font-family: "ArialRound";
}

.card-button{
    font-size: 30px;
    border-radius: 0px!important;
    background-color: white;
    border-color: black;
    border-width: 3px;
}

.img-articleCard{
    background-color: white;
    width: 100%;
}

.button-div{
    display: flex;
    justify-content: center;
}
