body {
  margin: 0;
  font-family: AdigianaToybox;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
    --bs-gutter-x: 0 !important;
}

a {
    text-decoration: none;
}

@font-face {
  font-family: "AdigianaToybox";
  src: local("AdigianaToybox"),
  url("../fonts/AdigianaUI.ttf") format('truetype');
}

@font-face {
  font-family: "ArialRound";
  src: local('ArialRound'), 
  url("../fonts/ARLRDBD.ttf") format('truetype');
}

