nav {
    font-family: "AdigianaToybox";
    border-bottom: 1px solid;
    font-size: 1.5em;
    
}

a:hover{
    transition-duration: 0.3s;
}

div.test {
    display: flex;

}

.left {
    padding-left: 1%;
}

.mid {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5%;
}
div.switcher {
    padding-left: 2.5%;
}