nav {
    font-family: "AdigianaToybox";
    border-bottom: 1px solid;
    font-size: 1.5em;
    background-color: white;
}

a:hover{
    transition-duration: 0.3s;
}

.vert {
    
}

.moon {
    padding-left: 2.5%;
}

.left {
    padding-left: 1%;
}

.mid {
    border: 3px solid green;
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5%;
}